<!--<div class="row">
  <div class="box">
    <i class="bi bi-person-circle"></i>
  <button  onclick="window.open('../app/pages/home/login');">Minha Conta</button>
  </div>
</div>-->

<div class="col-lg-4" id="caminho">
  <i class="bi bi-person-circle" id="icon"></i>
  <a  routerLink="login" style="text-decoration:none"  > Cadastre-se</a>
  </div>



<mat-toolbar color="primary">
  <i class="bi bi-list"></i>
  <button mat-button [matMenuTriggerFor]="menu">Mundo Geek</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLink="almofadas" style="text-decoration: none; color: black;">Almofadas</a></button>
    <button mat-menu-item><a routerLink="animes" style="text-decoration: none; color: black;">Animes</a></button>
    <button mat-menu-item><a routerLink="camisetas" style="text-decoration: none; color: black;">Camisetas</a></button>
    <button mat-menu-item><a routerLink="filmes" style="text-decoration: none; color: black;"> Filmes</a></button>
    <button mat-menu-item><a routerLink="games" style="text-decoration: none; color: black;">Games</a></button>
    <button mat-menu-item><a routerLink="livros" style="text-decoration: none; color: black;">Livros</a></button>
    <button mat-menu-item><a routerLink="quadrinhos" style="text-decoration: none; color: black;">Quadrinhos</a></button>
    <button mat-menu-item><a routerLink="series" style="text-decoration: none; color: black;">Séries</a></button>







  </mat-menu>

<!--
  <button   mat-button [matMenuTriggerFor]="geek">Mundo Geek</button>
<mat-menu #geek="matMenu">
 <button mat-menu-item [matMenuTriggerFor]="animes">Animes</button>
  <button mat-menu-item [matMenuTriggerFor]="quadrinhos">Quadrinhos</button>
  <button mat-menu-item [matMenuTriggerFor]="series">Series</button>
  <button mat-menu-item [matMenuTriggerFor]="filmes">Filmes</button>
</mat-menu>

<mat-menu #animes="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="onepiece">One Piece</button>
  <button mat-menu-item [matMenuTriggerFor]="naruto">Naruto</button>
  <button mat-menu-item [matMenuTriggerFor]="dragonball">Dragon Ball</button>
  <button mat-menu-item>Shingeki No Kyojin</button>
  <button mat-menu-item>Digimon</button>
</mat-menu>

<mat-menu #quadrinhos="matMenu">
  <button mat-menu-item>Mangas</button>
  <button mat-menu-item>D.C</button>
  <button mat-menu-item>Marvel</button>

</mat-menu>

<mat-menu #onepiece="matMenu">
  <button mat-menu-item>Chapeu de Palha</button>
  <button mat-menu-item>Going Merry</button>
  <button mat-menu-item>Monkey D. Luffy</button>
  <button mat-menu-item>Zoro</button>
  <button mat-menu-item>Bando Completo</button>
</mat-menu>

<mat-menu #naruto="matMenu">
  <button mat-menu-item>Naruto Uzumaki</button>
  <button mat-menu-item>Aldeia da Folha</button>
  <button mat-menu-item>Akatsuke</button>
  <button mat-menu-item>Boruto</button>
</mat-menu>

<mat-menu #dragonball="matMenu">
  <button mat-menu-item>Goku</button>
  <button mat-menu-item>Esferas do Dragão</button>
  <button mat-menu-item>Dragon Ball Z</button>
  <button mat-menu-item>Dragon Ball GT</button>
  <button mat-menu-item>Dragon Ball Game</button>
</mat-menu>

<mat-menu #series="matMenu">
  <button mat-menu-item>Game Of thrones</button>
  <button mat-menu-item>Anéis do Poder</button>
  <button mat-menu-item>The Big Bang Theory</button>
</mat-menu>

<mat-menu #filmes="matMenu">
  <button mat-menu-item>Harry Potter</button>
  <button mat-menu-item>Jogos Vorazes</button>
  <button mat-menu-item>Senhor dos Anéis</button>--
</mat-menu>-->
</mat-toolbar>



<router-outlet> </router-outlet>



<app-footer> </app-footer>
