
<div class="banner">
  <div class="content">
    <h1 class="mb-2"> TUDO PARA SUA ESTANTE</h1>
    <!--<a routerLink="menu"> Fazer pedido <i class="bi bi-arrow-right"></i></a>-->
  </div>
</div>



<div class="conteiner mt-5 mb-4">
  <h1 class="text-center" id="principal">COMO COMPRAR?</h1>
  <div class="row">
    <div class="col-lg-4">
       <div class="Box" >
           <h2 id="titulobox">Primeiro passo</h2>
           <p> Selecione</p>
        </div>
      </div>
    <div class="col-lg-4">
      <div class="Box">
           <h2 id="titulobox">Segundo passo</h2>
           <p> Preenche os detalhes</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="Box">
            <h2 id="titulobox">Terceiro passo</h2>
           <p> Entrega do pedido</p>
      </div>
    </div>
  </div>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/img/logo-got2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/logo-hp4.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/logo-jv2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/img/logo-osda2.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

 <!--<div class=" container mt -4 mb-4">
  <h1 class="text-center">SÉRIES</h1>
  <div class="row">
      <div class="col-lg-3" *ngFor="let fd of foodData">
        <div class="foodbox">
            <img src="{{fd.foodImg}}">
            <h1>{{fd.foodName}}</h1>
            <p>{{fd.foodPrice}}</p>
        </div>
      </div>
  </div>

</div>-->

<div id="livros">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="main-title">LOREN</h1>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/img/livro-01.1.jpg" class="card-img-top" alt="loren">
          <div class="card-body">
            <h2 class="card-title">loren loren</h2>
            <p class="card-texte"> loren loren loren</p>
          </div>
        </div>
      </div>
        <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/img/livro-01.1.jpg" class="card-img-top" alt="loren">
          <div class="card-body">
            <h2 class="card-title">loren loren</h2>
            <p class="card-texte"> loren loren loren</p>
          </div>
        </div>
      </div>
        <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/img/livro-01.1.jpg" class="card-img-top" alt="loren">
          <div class="card-body">
            <h2 class="card-title">loren loren</h2>
            <p class="card-texte"> loren loren loren</p>
          </div>
        </div>
      </div>
        <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/img/livro-01.1.jpg" class="card-img-top" alt="loren">
          <div class="card-body">
            <h2 class="card-title">loren loren</h2>
            <p class="card-texte"> loren loren loren</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card text-bg-dark">
  <img src="../../../assets/img/logo-hp4.png" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Loren title</h5>
    <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, tenetur necessitatibus! Natus illum nam voluptatum aliquam! Quod possimus obcaecati reprehenderit cum sed, eligendi ratione error, cupiditate doloremque dolorem quibusdam consequatur.</p>
    <p class="card-text"><small>Last updated 3 mins ago</small></p>
    
  </div>
</div>
