<div id="livros">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="main-title">LOREN</h1>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/img/livro-01.1.jpg" class="card-img-top" alt="loren">
          <div class="card-body">
            <h2 class="card-title">loren loren</h2>
            <p class="card-texte"> loren loren loren</p>
            <button> COMPRAR</button>
          </div>
        </div>
      </div>
        <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/img/livro-01.1.jpg" class="card-img-top" alt="loren">
          <div class="card-body">
            <h2 class="card-title">loren loren</h2>
            <p class="card-texte"> loren loren loren</p>
            <button> COMPRAR</button>
          </div>
        </div>
      </div>
        <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/img/livro-01.1.jpg" class="card-img-top" alt="loren">
          <div class="card-body">
            <h2 class="card-title">loren loren</h2>
            <p class="card-texte"> loren loren loren</p>
            <button> COMPRAR</button>
          </div>
        </div>
      </div>
        <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/img/livro-01.1.jpg" class="card-img-top" alt="loren">
          <div class="card-body">
            <h2 class="card-title">loren loren</h2>
            <p class="card-texte"> loren loren loren</p>
            <button> COMPRAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

